* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    background-color: #222;
    color: white;
    text-align: center;
}

header {
    display: flex;
    background: #333;
    padding: 15px;
    font-size: 0.8rem;
    align-items: center;
}

header h1 {
    padding-left: 10px;
}

header span {
    color: #6b8cff;
}

footer {
    background-color: #111;
    color: white;
    padding: 20px;
    position: absolute;
    width: 100%;
    margin-top: 10%;
}


.logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.book {
    width: 150px;
    height: 220px;
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
}

.book:hover .overlay {
    background: rgba(0, 0, 0, 0.1);
    transition: background 0.5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.book-title {
    position: relative;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    padding-top: 4px;
}

.age-rating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.age-livre { background: green; }
.age-10 { background: #0e83d9; }
.age-12 { background: #f7d842; }
.age-14 { background: orange; }
.age-16 { background: red; }
.age-18 { background: black; }

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.page-button {
    background: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.page-button.active {
    background: #6b8cff;
}

.page-button:hover {
    background: #555;
}

